*{
    margin: 0;
    padding: 0;
}
.header{
    width: 1000px;
    margin:55px auto;
    height: 100px;
}
.h-1{
    display: inline-block;
    float: left;
    height: 68px;
    line-height: 68px;
}
.h-2{
    display: inline-block;
    float: right;
    color: #0c9965;
    font-size: 18px;
    height: 68px;
}
.h-3{
    line-height: 68px;
}
.h-4{
    margin-bottom: -8px;
}
.center{
    width: 1000px;
    margin: -30px auto;
    font-family: SimSun;
    font-size: 14px;
}
.c-up{
    width: 1000px;
    height: 40px;
    border-bottom: 2px solid #fbae3a;
    position:relative;
}
.c-up-1 a{
    display:inline-block;
    line-height:40px;
    color:#fbae3a;
    border:1px solid #fbae3a;
    border-bottom:0;
    margin-left:12px;
    padding:0 20px;
    text-decoration: none;
}
.c-up-1 a:first-child{
    margin-left:0;
}
.c-up-1 a.active{
    background:#fbae3a;
    color:#fff;
}
.c-up-1{
    display:block;
    height: 40px;
    text-align: center;
    font-weight: bold;
}

.c-up-2{
    display: inline;
    position: absolute;
    right: 25px;
    top: 13px;
}
.c-up-2 a{
    color: #fbae3a;
}
.c-down{
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 6px #c8c8c8;
}
#provider {
    display: none;
}
.c-down-1{
    width: 975px;
    height: 250px;
    position: relative;
    border-bottom: 1px solid #ccc;

}
.c-down-2{
    width: 975px;
    height: 300px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.c-down-5{
    width: 975px;
    height: 150px;
    position: relative;
}
.c-1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.c-1::after{
    content: "";
    width: 0;
    height: 0;
    border: 17px solid #ccc;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -34px;
    top: 0;
}
.c-2{
    position: absolute;
    left:230px;
    top:50px;
    height: 38px;
}
.c-3{
    position: absolute;
    left: 230px;
    top: 108px;
    height: 38px;
}
.c-4{
    position: absolute;
    left: 230px;
    top: 166px;
    height: 38px;
}
.c-down-1 labal{
    width: 105px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    color: #808080;
}
.c-down-1 input{
    height: 36px;
    width: 314px;
    border: 1px solid #dbdbdb;
}
.c-down-1 span{
    color: #fbae3a;
    font-weight: bold;
    font-size: 17px;
}
.c-2-1{
    height: 36px;
    width: 314px;
    border: 1px solid #dbdbdb;
    position: relative;
}
.c-down-div{
    position: absolute;
    top: 58px;
    left: 130px;
}
.c-down-3{
    width: 194px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    bottom: 20px;
    margin-left: 40px;
}
.m-m-4{
    color: #808080;
    display:inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}
.m-m{
    height: 126px;
    border: 1px dotted #aaa;
    color: #b3b3b3;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.m-m:hover{
    background: #dbdbdb;
    color: white;
}
.m-m::before{
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 194px;
    font-size: 85px;
    font-weight: 600;
    line-height: 126px;
    text-align: center;
}
.m-m-1{
    font-weight: bold;
}
.m-m-2{
    font-size: 12px;
    color: #f13939;
    text-align: left;
}
.m-m-3{
    color: #808080;
    display:inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}
.c-5-1{
    position: absolute;
    left: 170px;
    top: 30px;
    background-color: #ffbe5c;
    color: #fff;
    border-radius: 2px;
    width: 210px;
    height: 42px;
    line-height: 42px;
    border: none;
}
.c-5-2{
    position: absolute;
    right: 200px;
    top: 30px;
    height: 42px;
    line-height: 42px;
}
.c-5-2 a{
    text-decoration: none;
    color: #fbae3a;
}
.c-5-2 a:hover{
    text-decoration: underline;
}
.footer{
    width: 1200px;
    height: 20px;
    margin: 85px auto;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #000;
    font-family: "Microsoft YaHei",SimSun;
    padding: 25px 0;
    border-top: 1px solid #e2e2e2;
}
.footer a{
    text-decoration: none;
    color: #009334;
}
.footer a:hover{
    text-decoration: underline;
}