*{
    margin:0;padding:0;
}
/*头部*/
.tnt-nav{
    color: #646464;
    background-color: #f5f5f5;
    font-family: SimSun;
    line-height: 34px;
    height:34px;
    border-bottom: 1px solid #ededed;
}
.wrapper{
    padding: 0 10px;
    width:1200px;
    margin:0 auto;
}
.wrapper::before{
    content:" ";
    display: table;
    clear:both;
}
.wrapper::after{
    content:"";
    display:table;
    clear:both;
}
.tnn-left{
    float: left;
}
.tnnl-word{
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.tnnl-word:hover{
    text-decoration: underline;
}
.tnnl-word2{
    /*border-right: 1px solid #ccc;*/
    padding: 0 10px 0 0;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.tnn-middle{
    float:right;
}
.tnn-right{
    white-space: nowrap;
    float: right;
    padding: 3px 30px;
}
.tnm-nav{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}
.tnm-nav .wrapper{
    padding:20px 0 0 0;
    height: 90px;
}
.tn-logo{
    margin-right: 60px;
    margin-top: 10px;
    float: left;
    font-size: 0;
}
.tn-midSearch{
    width: 580px;
    height: 75px;
    float: left;
    margin: 10px 20px 0 0;
}
.tn-midSearch input{
    width: 335px;
    color: #666;
    font-family: SimSun;
    line-height: 1;
    height: 36px;
    vertical-align: top;
    border: 3px solid #3fac61;
    padding: 0 90px 0 40px;
    background: #fff url(../img/search.png) no-repeat 10px 50%;
    position: relative;
}
.tn-midSearch button{
    width: 90px;
    height: 42px;
    background: #3fac61;
    border: none;
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.keywords{
    margin-top: 10px;
    font-size: 12px;
}
.sameColor{
    text-decoration: none;
    color: #000;
    font-family: SimSun;
    line-height: 1;
    margin-right: 10px;
}
.sameColor:hover{
    text-decoration: underline;
}
#difColor{
    text-decoration: none;
    color: #000;
    font-family: SimSun;
    line-height: 1;
    color:#de9e3f;
    margin-right: 10px;
}
#difColor:hover{
    text-decoration: underline;
}
.tn-right{
    position: relative;
    width: 320px;
    height: 120px;
    float: left;
}
.tnr-call{
    width: 120px;
    height: 55px;
    line-height: 30px;
    font-size: 18px;
    font-family: arial;
    color: #0c9965;
}
.icon{
    background-image: url(../img/icons.png);
}
.tnrc-way span.icon.icon-phone{
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background-position: -5px -260px;
    margin-right: 10px;
}
.tnrs-a{
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    background: #f5f5f5;
    cursor: pointer;
    outline: none;
}
.tnrs-a span.icon.icon-car{
    background-position: -5px -158px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}
.tnr-shop{
    width: 140px;
    height: 32%;
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    border: 1px solid #dbdbdb;
}
#special{
    font-weight: bold;
    color: #fbae3a;
    margin: 0 4px;
}
.tnr-shop a{
    color: #4c4c4c;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
}
.tnr-shop a:hover{
    background: #fff;
}
.tnd-nav{
    height: 41px;
}
.tndn-nav{
    position:relative;
    height: 41px;
    margin-top: -20px;
}
.tnd-nav .wrapper{
    height: 41px;
}
.tndn-left{
    width: 240px;
}
.tndn-middle{
    width: 760px;
    height: 41px;
    /* float: left; */
    position: absolute;
    left: 240px;
    top: 0;
}
.tndn-right{
    display: flex;
    position: absolute;
    width: 198px;
    height: 43px;
    left: 1000px;
    top: 0;
}
.tndnl-title{
    background: #0c9965;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 242px;
    height: 43px;
    line-height: 1px;
}
.tndnn-nav{
    height: 41px;
    line-height: 41px;
    border-bottom: 2px solid #0c9965;
}
.tndn-middle a{
    text-decoration: none;
    color: #0c9965;
    margin: 0 0 0 20px;
}
.tndn-middle a:hover{
    font-weight: bold;
}
.entrance{
    flex:1;
    border-bottom: 2px solid #0c9965;
}
.entrance-left{
    font-size:12px;
}
.e-box{
    width: 96px;
}
.entrance span.icon.icon-buy{
    background-position: -5px -192px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.entrance span.icon.icon-supply{
    background-position: -5px -226px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px
}
.entrance a{
    text-decoration: none;
    color: #000000;
    line-height: 40px;
    font-size: 13px;
}
.entrance a:hover{
    color:#0c9965;
}
/*内容*/
.confirm-pro{
    margin-top:47px;
}
.proDetail {
    border-top: 2px solid #0c9965;
    padding: 10px 0;
}
.proDetail table{
    width: 1200px;
}
.product1 td{
    border-bottom: 1px dashed #0c9965;
}
.special5{
    width: 45px;
}
.special1{
    width: 100px;
}
.special1 img{
    width: 210px;
    padding: 0 34px;
}
.special2{
    text-align: center;
}
.special3 {
    width: 260px;
}
.special3 a{
    text-decoration: none;
    color: #0c9965;
    font-size: 17px;
}
.special3 a:hover{
    text-decoration: underline;
}
.special4{
    width: 200px;
}
.special6{
    width: 74px;
    /* padding: 0 52px; */
}
.special6 a{
    text-decoration: none;
}
.special6 a img{
    float: left;
}
.special7{
    width: 160px;
    text-align: center;
    font-size:20px;
    color:#ca3c24;
    font-weight: bold;
}
.addSub{
    display: table;
    padding: 0 66px;
}
.addSub input{
    width: 20px;
    height: 20px;
    text-align: center;
}
.addSub button{
    width: 20px;
    height: 24px;
}
.deleteBtn{
    width: 100px;
    height: 34px;
    font-size: 16px;
    background: #0c9965;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.deleteA{
    width: 100px;
    padding: 0px 0;
    display: block;
    height: 35px;
}
.numDelete {
    padding: 30px 0 0 0;
    font-size: 17px;
}
.proNum{
    width: 38px;
    height: 16px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.shopend{
    padding: 30px 0 0 330px;
}
.yellow{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.shopend input{
    float: right;
    width: 100px;
    height: 34px;
    font-size: 16px;
    background: #0c9965;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*尾部*/
.footer{
    height: 320px;
    margin-top: 60px;
    border-top: 4px solid #0c9965;
}
.f-list{
    width: 165px;
    float: left;
    padding: 20px 10px;
}
.f-title h3{
    font-weight: 400;
    font-size: 16px;
}
.f-list ul{
    margin-top: 15px;
    padding-left: 42px;
    box-sizing: border-box;
}
.f-list ul li{
    list-style: none;
    font-size: 12px;
    margin-top: 10px;
    color: #000000;
}
.f-list ul li a{
    text-decoration: none;
    color: #000;
}
.f-list ul li a:hover{
    text-decoration: underline;
}
.f-listNav{
    height: 162px;
    margin-top: 20px;
}
.f-tele p{
    font-size: 16px;
    color: #000;
    margin: 0 0 5px;
}
.f-tele p span{
    font-weight: bold;
}
.f-copyright{
    border-top: 1px solid #ccc;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 25px 0;
}
.f-copyright p a{
    text-decoration: none;
    color: #0c9965;
    margin-right: 20px;
}
#fixedNav{
    position: absolute;
    display: block;
    top: 2495.2px;
    right: 70px;
    font-size: 12px;
    text-align: center;
}
#fixedNav span:before {
    content: "";
    border: 10px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    height: 0;
    display: inline-block;
}
#fixedNav span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    width: 30px;
    height: 46px;
}
#fixedNav a{
    display: block;
    width: 60px;
    line-height: 50px;
    color: #fff;
    background-color: #999;
    border-top: 1px solid #f5f5f5;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}
#fixedNav a:hover{
    background: #fbaf3c;
}
#fixedNav a:first-child {
    border-top: none;
}
#fixedNav .top {
    background-color: #fbaf3c;
}
.f-title{
    line-height: 35px;
}
.star{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/iconfont-star.png) no-repeat;
}
.flag{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/iconfont-flag.png) no-repeat;
}
.round{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/iconfont-chart.png) no-repeat;
}
.case{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/iconfont-bag.png) no-repeat;
}
.lock{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/iconfont-lock.png) no-repeat;
}
.phone{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../img/iconfont-phone.png) no-repeat;
}
.mail{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../img/iconfont-mail.png) no-repeat;
}
.f-tele{
    padding-top:5px;
}
.f-mail{
    margin:10px;
}
.f-tele .call{
    font-weight: bold;
}